.timeline-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  background-color: white;
  border-top: 1px solid #eee;
  overflow: scroll;
}

.timeline-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.timeline-property--name-row {
  width: 256px;
  border-right: 1px solid #eee;
  padding: 7px 0;
}

.timeline-entity-timeline.highlighted,
.timeline-property--name-row.highlighted {
  background: #efeff4;
}

.timeline-entity--name-column {
  width: 256px;
  position: sticky;
  left: 0;
  z-index: 1;
  background: white;
}

.timeline-entity--name-header {
  margin-bottom: 8px;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-tick {
  display: inline-block;
  border-right: 1px solid #eee;
  padding: 8px;
  position: relative;
}

.timeline-entity {
  display: flex;
}

.timeline-entity--timeline-section {
  padding-top: 40px;
}

.timeline-entity-timeline {
  position: relative;
  height: 32px;
}

.timeline-key {
  position: absolute;
  top: calc(50% - 4px);
  height: 8px;
  width: 8px;
  background-color: red;
  cursor: pointer;
  border-radius: 4px;
}
